div#header {
  background: #dde;
  border: 2px solid #669;
  padding: 2px 4px;
}
div#header div#logo {
  display: inline;
}
div#header div#logo a {
  text-decoration: none;
}
div#header div#links {
  display: inline;
  text-align: right;
  font-size: smaller;
  font-family: sans-serif;
}

/* Notes management page */

p.notepreview {
  white-space: pre;
}

/* Resources box on mirror management page */
div#resources {
  float: right;
  border: 2px solid black;
  background-color: #f5f5f5;
  font-family: sans-serif;
  padding: 3px;
  margin: 3px;
}
div#resources h1 {
  font-size: 120%;
  margin: 0px;
  padding: 0px;
}
div#resources ul {
  margin: 3px;
  padding: 0px;
}
div#resources table {
  float: left;
  border: 1px solid black;
  margin: 3px;
}

/* Mirrors table */
table#mirrors {
  clear: both;
}
table#mirrors td, table#mirrors th {
  vertical-align: middle;
  font-family: sans-serif;
}
table#mirrors a {
  text-decoration: none;
}
table#mirrors th {
  text-align: left;
  font-weight: bold;
  background-color: #cccccc;
  font-size: 120%;
} 

/* General image style */
img {
  border: 0px;
  vertical-align: middle;
}

/* PHP source code highlighting (from php.net CSS) ------------------------ */
div.phpcode span.html {
	color: black;
	background-color: transparent;
}
div.phpcode span.comment {
	color: #FF8000;
	background-color: transparent;
}
div.phpcode span.default {
	color: #0000BB;
	background-color: transparent;
}
div.phpcode span.keyword {
	color: #007700;
	background-color: transparent;
}
div.phpcode span.string {
	color: #DD0000;
	background-color: transparent;
}





body {
  margin: 0;
  font-family: Tahoma, Arial, sans-serif, serif, monospace;
  background-color: #f8f8f8;
}
h1#header {
  margin: 0;
  background: url(/images/php.gif) #5a5993 no-repeat;
  padding: 20px 0 10px 150px;
  height: 37px;
  font-style: italic;
  font-size: 1em;
  color: #B5B5E9;
}
h1#header a {
  color: #B5B5E9;
}
ul#mainmenu {
  margin: 0;
  background-color: #f3f3f3;
  font-size: 0.9em;
  padding: 8px 10px;
  text-align: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #D0D0D0;
}
ul#mainmenu li {
  display: inline;
  padding: 0 1%;
  border-right: 1px solid #CDCDCD;
}
ul#mainmenu li a {
  color: #6181B7;
}
ul#mainmenu li:last-child {
	border: 0px;
}
p.warning, p.warning {
  padding: 1em;
  margin: 0px;
  border-bottom:1px solid #D0D0D0;
  margin-bottom: 6px;
  text-align: center;
  font-weight: bold;
  font-size:1.17em;
}
p.warning {
  background:#ffffff;
  color:#6F0000;
}
p.error {
  background: #FFEEEE;
  border: 1px solid #666600;
  color: #660000;
}

div#profile {
	margin: 10px 100px 0 100px;
}
h2 {
  margin: 0;
  font-size: 1em;
}
div.note {
  text-indent: 30px;
  margin: 5px;
  padding: 5px 0 0 0;
  border-bottom:1px solid #D0D0D0;
  width: 600px;
}
div.note:last-child {
  border-bottom: 0;
}
