div#header {
  background: #dde;
  border: 2px solid #669;
  padding: 2px 4px;
  width: 98%;
}
div#header div#logo {
  display: inline;
}
div#header div#links {
  display: inline;
  text-align: right;
  font-size: smaller;
  font-family: sans-serif;
}

p.warning {
  background: #ffeeee;
  border: 1px solid #ff0000;
  padding: 2px 4px;
}
